body {
  background-color: rgb(3c3c3c);
  color: rgb(35, 39, 143);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(8, 8, 12);
}
h2 {
    color: rgb(0, 0, 0);
}
img {
  height: 
   
;  

}

